<h1>Eat-da-Burger</h1>
<h2>Available Burgers</h2>
<ul>
  {{#each burger}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      <form action="/{{id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="true">
        <button type="submit">Devour</button>
      </form>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
  {{#each burger}}
    {{#if devoured}}
    <li>
      {{burger_name}}
      {{!-- <form action="/{{id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="true">
        <button type="submit">Devour</button>
      </form> --}}
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/" method="POST">
  <textarea name="burgerName" cols="40" rows="5"></textarea>
  <button type="submit">Add Burger</button>
</form>